<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="/css/site.css" />
</head>
<body>
    <header>
        This is the header. Goto:
        <nav>
            @Html.ActionLink("Index", "Index", "Home") | 
            @Html.ActionLink("About", "About", "Home") | 
            @Html.ActionLink("Contact", "Contact", "Home")
        </nav> 
    </header>
    <div class="content">
        <div class="main-content">
            @*this a section it's can be required or not*@
            @RenderSection("MainContent")
        </div>
        @if (IsSectionDefined("SideContent")) {
        <div class="side-content">
            @RenderSection("SideContent", false)
        </div>
        }
    </div>
    @RenderBody()
    <footer>
        This is the footer.
    </footer>
</body>
</html>
